body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card {
  overflow: hidden;
  width: 75%;
  height: 12em;
}

.card2{
  width: 75%;
  height: 5em;
}

p {
}